<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CUNY</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

<body>
    <div class="container">
        <header>header</header>
        <div class="content-container">
            <sidebar>
                <ul>
                    <li class="search">
                        <div class="overlay"></div>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="search-bar">
                            <input type="text" placeholder="text">
                        </div>
                    </li>
                    <li>
                        <div class="overlay"></div>
                        <i class="fa fa-envelope-o contact-icon" aria-hidden="true"></i>
                    </li>
                </ul>
            </sidebar>
            <div class="map-area">
                <iframe title="Hurricane Evacuation Centers" id="iframe" src="https://data.cityofnewyork.us/w/ayer-cga7/25te-f2tw?cur=qBZVaxmFw2i&from=root"
                    frameborder="0" scrolling="no">
                    <a href="https://data.cityofnewyork.us/Public-Safety/Hurricane-Evacuation-Centers/ayer-cga7" title="Hurricane Evacuation Centers"
                        target="_blank">Hurricane Evacuation Centers</a>
                </iframe>
            </div>
        </div>
    </div>
</body>

</html>