html,
body {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

header {
  width: 100%;
  background-color: #3176bd;
  height: 7vh;
  line-height: 7vh;
}

.content-container {
  display: flex;
  height: 93vh;
  position: relative;
}

sidebar {
  background-color: #3d3d3d;
  width: 4%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 3.7vh;
  color: #cbc9c9;
  border-bottom: 1px solid #3b495c;
  padding-bottom: 2vh;
  padding-top: 2vh;
  cursor: pointer;
  position: relative;
}

.overlay {
  height: 100%;
  position: absolute;
  transition: 0.5s ease;
  opacity: 0.3;
  width: 0%;
  margin-top: -2vh;
}

.search-bar {
  position: absolute;
  top: 0;
  left: 4vw;
  height: 8.4vh;
  width: 100px;
  line-height: 8.3vh;
  z-index: 10;
  background: green;
  padding: 0;
  margin: 0;
  display: none;
}

li:first-child .overlay {
  background: orange;
}

li:last-child .overlay {
  background: green;
}

li:hover .overlay {
  width: 100%;
}

li:hover {
  color: white;
}

li:first-child:hover .search-bar,
.search-bar:hover {
  display: block;
}

.map-area {
  background-color: white;
  margin-left: 3vh;
  margin-top: 3vh;
  color: #999;
  width: 93%;

  background-size: 100%;
  height: 94%;
  position: relative;
  overflow: hidden;
}

iframe {
  height: 109.1%;
  width: 100%;
  position: absolute;
  left: 0;
  top: -8.3vh;
}

input {
  font: bold 15px "lucida sans", "trebuchet MS", "Tahoma";
  border: 0;
  border-bottom: 1px solid #ccc6c6;
  border-top: 1px solid #ccc6c6;
  border-right: 1px solid #ccc6c6;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  width: 29vh;
  padding: 1.3vh 1vh;
  left: 0;
  top: 0.2vh;
  height: 5.4vh;
  font-size: 2.3vh;
  position: absolute;
}

.wifi-hotspots {
  display: none;
}
